table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Arial, Helvetica, sans-serif;
}

caption {
  border: 1px solid #000;
  border-bottom: none;
  font-weight: bold;
}

th,
td {
  border: 1px solid #000;
}

.color-red {
  color: rgb(243, 5, 5);
}
